body{
    margin: 0;
    background-color: rgba(40, 234, 255, 0.066);
}

header{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 15vh;
    background-color: antiquewhite;
    width: 100%;
    z-index: 1;
}

main{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100%;
    text-align: end;
    position: absolute;
    bottom: 0;
    height: 5vh;
}



.imgImpiccato{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 500px;
}

.caselleParola{
    margin: 15px;
}

.caselleParola span{
    font-size: 40px;
}